/* reset default settings Chrome*/
body{
    margin:0;
}
form{
    margin:0;
}
/* end reset Chrome default setting*/

/* DESKTOP SETTINGS*/
@media (min-width: 1024px) {
    body{
        background-color: #9bcaff
    }

    div{
        width: 100%;
        box-sizing: border-box;
    }

    p{
        margin: 0px;
        height:24px;
        margin: 15px;
        text-align: left;
        font-size: 24px;
    }




    /*-------------- HEADER -------------*/
    #header{
        display: grid;
        position: fixed;
        grid-template-columns: 2fr 1fr;
    }

    #title{
        background-color: #8592f5;

    }
    #databaseImage{
        padding:3px;
        display:inline;
    }
    #pageName{
        font-style: italic;
        height: 50px;
        display:inline;
        vertical-align: top;
    }

    #search{
        text-align: right;
        background-color: #c1eeff;
    }

    #searchText{
        margin:15px;
        margin-right: 0;
        vertical-align: top;
        height:24px;
    }
    #searchImage{
        margin:15px;
        margin-left:3px;
    }




    /*-------------- BODY -------------*/
    #body1{
        /*display:grid;*/
        padding-top: 58px;
        /*grid-template-columns: 20% 60% 20%;*/
        /*grid-template-rows: 20px 250px;*/
        padding-bottom: 30px;
    }
    #showExams{
        padding-top: 58px;
    }

    #reset{
        cursor: pointer;
    }

    #resetButton{
        text-align: center;

    }

    #showData{
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 20px;
    }
    /*.buttonCustom{*/
        /*border-color: #000;*/
        /*border-style: solid;*/
        /*border-width: 2px;*/
    /*}*/



    /*-------------- FOOTER -------------*/
    #footer{

        /*position:fixed;*/
        bottom:0;
        height: 30px;
    }

    p#footerData{
        text-align:center;
    }
}

/* ------------ RETURN TO TOP SETTINGS ---------------
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;

$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);    // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
    }
});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});
}*/

/* MOBILE SETTINGS*/
@media (max-width: 1023px) {
    body{
        background-color: #00a4ff;
    }
}